extends ../../layouts/main_layout
include ../../mixins/pagination_mixin

block bodyContent
  section.container
    .row
      article.col-12.box.shadow-sm
        include ../../../data/chapters/chapter_2.html


block paginationContent
  +pagination(2)