include ../mixins/cdn_mixin
include ../mixins/styles_mixin

<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- Favicon
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')

    block headScriptContent
    +styles('main')

    title Inicia Aquí
  body
    block navbarContent
      include ../components/navbar_component.pug

    block bodyContent

    block paginationContent

    block bodyScriptContent
      +cdn('jquery')
      +cdn('popper')
      +cdn('bootstrap')
    
    block footerContent
      include ../components/footer_component.pug