nav.w-100.shadow.sticky-top
  .container
    h1.title: a(href="/") Inicia Aquí
    .dropdown
      button#menu.btn.btn-primary.dropdown-toggle(
        type="button" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false") Capítulos
      .dropdown-menu.dropdown-menu-right(aria-labelledby='menu')
        a.dropdown-item(href='/') Capítulo 1
        .dropdown-divider
        a.dropdown-item(href='/cap/2.html') Capítulo 2
        .dropdown-divider
        a.dropdown-item(href='/cap/3.html') Capítulo 3

