footer.container: .row
    .footer-content.col-12.box.shadow-sm.d-flex.justify-content-around
      a(href="/") Inicio
      a(href="/contacto.html") Contacto
      a(href="/referencias.html") Referencias